In [3]:
import pandas as pd
import numpy as np

import os
import sys
sys.path.append(os.path.abspath('../'))

from src.data.utility import DataReader, BeerData

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
# Instantiate the custom data reader class
data_reader = DataReader()
# Load Raw Train Data
train_df = data_reader.read_data(BeerData.RAW)

In [6]:
train_df.info()

### View Original Data

In [153]:

train_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

### Exmine NULL values

In [5]:
train_df.isna().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [6]:
### Exmine How many row has missing brewy names
brew_name_null = train_df[train_df['brewery_name'].isnull()]
brew_name_null
## 15 rows missing for brewy-names 1193 x 9 and 27 X 6

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
651565,1193,NaN,1301022066,2.0,2.5,2.5,Knapp85,Vienna Lager,1.5,1.5,Engel Tyrolian Bräu WRONG BREWERY SEE SCHWABIS...,5.0,67503
659293,1193,NaN,1290107698,4.0,4.5,3.5,dqrull,Bock,4.0,3.5,Engel Bock Dunkel WRONG BREWERY SEE CRAILSHEIMER,7.2,63658
659299,1193,NaN,1289077001,3.5,3.0,3.0,dqrull,Dortmunder / Export Lager,4.0,4.0,Engel Gold WRONG BREWERY SEE CRAILSHEIMER,5.4,63215
659300,1193,NaN,1289851033,3.5,4.0,3.5,dqrull,Munich Helles Lager,3.5,3.0,Engel Landbier WRONG BREWERY SEE CRAILSHEIMER,4.8,63557
659301,1193,NaN,1289158632,3.5,4.0,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,3.5,Engel Keller Hell WRONG BREWERY SEE CRAILSHEIMER,5.4,63256
659302,1193,NaN,1289590065,3.5,4.0,3.0,dqrull,Vienna Lager,3.0,3.5,Engel Aloisius - WRONG BREWERY SEE CRAILSHEIMER,5.9,63459
659303,1193,NaN,1298078926,3.0,3.0,3.0,Ochsenblut,Keller Bier / Zwickel Bier,2.0,3.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659304,1193,NaN,1292423271,4.5,4.0,4.0,Dentist666,Keller Bier / Zwickel Bier,4.0,4.5,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659305,1193,NaN,1289329962,3.5,3.5,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,4.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
1391043,27,NaN,1020244856,3.5,3.5,3.5,Jason,American Adjunct Lager,4.0,3.5,Hard Hat American Beer,3.8,60
1391049,27,NaN,1143182956,2.5,2.0,2.0,BeerBob,American Malt Liquor,2.0,2.0,Side Pocket,8.5,3394
1391050,27,NaN,1117963232,1.5,1.5,2.0,feloniousmonk,American Malt Liquor,1.5,1.5,Side Pocket,8.5,3394
1391051,27,NaN,1323314674,4.5,4.5,3.5,ccrida,American IPA,4.5,4.5,Breakaway IPA,7.2,75135
1391052,27,NaN,1320989774,3.5,4.0,3.5,Docer,American IPA,4.0,4.0,Breakaway IPA,7.2,75135
1391053,27,NaN,1320995408,5.0,4.5,4.0,Docer,American Stout,4.5,4.5,Caboose Oatmeal Stout,7.0,75137

In [10]:
### Drop the rows if "brewy_name" is NULL
### Select only non-null value of brewry_name
df_cleaned = train_df.copy()
df_cleaned = df_cleaned[df_cleaned['brewery_name'].notnull()]
df_cleaned.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [9]:
#df_cleaned = train_df.copy()
col_to_drop = ['beer_beerid', 'brewery_name', "review_profilename", "beer_name"]
target_column = 'beer_style'
# col_to_drop = ['brewery_name', 'review_profilename', 'beer_name', 'beer_style']
df_cleaned = df_cleaned.drop(col_to_drop, axis = 1)

#df_cleaned.head()
df_cleaned.isna().sum()

brewery_id               0
review_time              0
review_overall           0
review_aroma             0
review_appearance        0
beer_style               0
review_palate            0
review_taste             0
beer_abv             67785
dtype: int64

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_style_encoded
0,10325,1970-01-01 00:00:01.234817823,1.5,2.0,2.5,1.5,1.5,5.0,65
1,10325,1970-01-01 00:00:01.235915097,3.0,2.5,3.0,3.0,3.0,6.2,51
2,10325,1970-01-01 00:00:01.235916604,3.0,2.5,3.0,3.0,3.0,6.5,59
3,10325,1970-01-01 00:00:01.234725145,3.0,3.0,3.5,2.5,3.0,5.0,61
4,1075,1970-01-01 00:00:01.293735206,4.0,4.5,4.0,4.0,4.5,7.7,9

### One Hot Encoding to Target Column

In [245]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_cleaned['beer_style_encoded'] = le.fit_transform(df_cleaned['beer_style'])


df_cleaned['brewy_id_encoded'] = le.fit_transform(df_cleaned['brewery_id'])
df_cleaned

,brewery_id,review_time,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv,beer_style_encoded,brewy_id_encoded
0,10325,1234817823,1.5,2.0,2.5,Hefeweizen,1.5,1.5,5.0,65,3182
1,10325,1235915097,3.0,2.5,3.0,English Strong Ale,3.0,3.0,6.2,51,3182
2,10325,1235916604,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,6.5,59,3182
3,10325,1234725145,3.0,3.0,3.5,German Pilsener,2.5,3.0,5.0,61,3182
4,1075,1293735206,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,7.7,9,835
...,...,...,...,...,...,...,...,...,...,...,...
1586609,14359,1162684892,5.0,4.0,3.5,Pumpkin Ale,4.0,4.0,5.2,85,3865
1586610,14359,1161048566,4.0,5.0,2.5,Pumpkin Ale,2.0,4.0,5.2,85,3865
1586611,14359,1160702513,4.5,3.5,3.0,Pumpkin Ale,3.5,4.0,5.2,85,3865
1586612,14359,1160023044,4.0,4.5,4.5,Pumpkin Ale,4.5,4.5,5.2,85,3865
1586613,14359,1160005319,5.0,4.5,4.5,Pumpkin Ale,4.5,4.5,5.2,85,3865

In [246]:
df_cleaned['brewy_id_encoded'].value_counts()
np.unique(df_cleaned[['brewy_id_encoded']])

array([   0,    1,    2, ..., 5835, 5836, 5837], dtype=int64)

### Drop the Beer_Style column

In [247]:
beer_style = df_cleaned.pop('beer_style')
brewery_id = df_cleaned.pop('brewery_id')
df_cleaned.head()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_style_encoded,brewy_id_encoded
0,1234817823,1.5,2.0,2.5,1.5,1.5,5.0,65,3182
1,1235915097,3.0,2.5,3.0,3.0,3.0,6.2,51,3182
2,1235916604,3.0,2.5,3.0,3.0,3.0,6.5,59,3182
3,1234725145,3.0,3.0,3.5,2.5,3.0,5.0,61,3182
4,1293735206,4.0,4.5,4.0,4.0,4.5,7.7,9,835

### Scaling

In [248]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#num_cols = ['review_time', 'review_overall', 'review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_abv', 'brewy_id_encoded']

df_cleaned_copy = df_cleaned.copy()
target = df_cleaned_copy.pop('beer_style_encoded')
df_cleaned_copy.head()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewy_id_encoded
0,1234817823,1.5,2.0,2.5,1.5,1.5,5.0,3182
1,1235915097,3.0,2.5,3.0,3.0,3.0,6.2,3182
2,1235916604,3.0,2.5,3.0,3.0,3.0,6.5,3182
3,1234725145,3.0,3.0,3.5,2.5,3.0,5.0,3182
4,1293735206,4.0,4.5,4.0,4.0,4.5,7.7,835

In [250]:

df_cleaned_scaled = sc.fit_transform(df_cleaned_copy)
df_cleaned_scaled = pd.DataFrame(df_cleaned_scaled, columns= df_cleaned_copy.columns)
df_cleaned_scaled['beer_style_encoded'] = target
df_cleaned_scaled.head()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewy_id_encoded,beer_style_encoded
0,0.140166,-3.213328,-2.487964,-2.177682,-3.288863,-3.132476,-0.879384,1.518172,65.0
1,0.154501,-1.131783,-1.771235,-1.366111,-1.090136,-1.083199,-0.362706,1.518172,51.0
2,0.154521,-1.131783,-1.771235,-1.366111,-1.090136,-1.083199,-0.233537,1.518172,59.0
3,0.138955,-1.131783,-1.054506,-0.554541,-1.823045,-1.083199,-0.879384,1.518172,61.0
4,0.909884,0.255913,1.095680,0.257029,0.375682,0.966078,0.283141,-0.157413,9.0

In [251]:
df_cleaned_scaled.describe()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewy_id_encoded,beer_style_encoded
count,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.518814e+06,1.586599e+06,1.586584e+06
mean,1.459031e-15,-7.591916e-14,2.642430e-14,1.524473e-13,-6.920609e-14,2.124292e-13,1.448553e-15,2.514902e-14,4.214203e+01
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.302073e+01
min,-5.009100e+00,-5.294872e+00,-3.921421e+00,-6.235533e+00,-4.021772e+00,-3.815568e+00,-3.027902e+00,-7.535417e-01,0.000000e+00
25%,-6.645178e-01,-4.379353e-01,-3.377775e-01,-5.545413e-01,-3.572271e-01,-4.001069e-01,-7.932707e-01,-6.757237e-01,1.200000e+01
50%,1.974481e-01,2.559127e-01,3.789512e-01,2.570289e-01,3.756820e-01,2.829853e-01,-2.335365e-01,-5.208017e-01,3.100000e+01
75%,8.423792e-01,9.497608e-01,3.789512e-01,2.570289e-01,3.756820e-01,9.660776e-01,6.275930e-01,2.131146e-01,7.400000e+01
max,1.335131e+00,1.643609e+00,1.812409e+00,1.880169e+00,1.841500e+00,1.649170e+00,2.181138e+01,3.413647e+00,1.030000e+02

In [252]:
from src.data.sets import split_sets_random, save_sets, load_sets

target_column_new = 'beer_style_encoded'
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_column_new, test_ratio=0.2, to_numpy=True)
save_sets(X_train, y_train, X_val, y_val, X_test, y_test)

In [253]:
from src.data.sets import split_sets_by_time, save_sets, load_sets

X_train, y_train, X_val, y_val, X_test, y_test = load_sets(path="../data/processed/")

np.unique(y_train)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103])

In [254]:
df_cleaned.head()
target_class = df_cleaned['beer_style_encoded'].value_counts().reset_index()
target_class.rename(columns = {"index": "beer_style_encoded", "beer_style_encoded": "count"})

     beer_style_encoded   count
0                    12  117584
1                     9   85977
2                    14   63469
3                    89   54129
4                    11   50705
..                  ...     ...
99                   62     686
100                  56     609
101                  88     466
102                  72     297
103                  64     241

[104 rows x 2 columns]

In [263]:
#X_train
#y_train
print("X_train", X_train.shape)
print("X_val", X_val.shape)
print("X_test", X_test.shape)

X_train (951959, 8)
X_val (317320, 8)
X_test (317320, 8)

### Load Pytorch Dataset

In [255]:
from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

### Baseline Model

In [256]:
from src.models.null import NullModel

base_model = NullModel(target_type="classification")
y_base = base_model.fit_predict(y_train)
y_base

array([[12],
       [12],
       [12],
       ...,
       [12],
       [12],
       [12]])

In [257]:
from src.models.performance import print_reg_perf
print_reg_perf(y_base, y_train, set_name='Training')

RMSE Training: 1998.7384057506679
MAE Training: 32.40324005550659

In [258]:
import torch
import torch.nn as nn
from src.models.pytorch import PytorchMultiClass
import torch.nn.functional as F
%load_ext autoreload
%autoreload 2

model = PytorchMultiClass(X_train.shape[1])

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [259]:
from src.models.pytorch import get_device
device = get_device()
model.to(device)

PytorchMultiClass(
  (layer_1): Linear(in_features=8, out_features=20, bias=True)
  (layer_out): Linear(in_features=20, out_features=104, bias=True)
  (softmax): Softmax(dim=1)
)

In [261]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.1)

In [262]:
from src.models.pytorch import train_classification, test_classification

N_EPOCHS = 10
BATCH_SIZE = 50

for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_acc = test_classification(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\t|\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')
    print(f'\t(valid)\t|\tLoss: {valid_loss:.4f}\t|\tAcc: {valid_acc * 100:.1f}%')

Epoch: 0
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 1
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 2
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 3
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 4
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 5
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 6
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 7
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 8
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%
Epoch: 9
	(train)	|	Loss: nan	|	Acc: 0.5%
	(valid)	|	Loss: nan	|	Acc: 0.5%

In [194]:
test_loss, test_acc =  test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:4f}\t | \tAccuracy:{test_acc:.1f}')

	Loss:  nan	 | 	Accuracy:0.0